{% extends 'main/base_pc.html' %}
{% load static %}

{%block title%}
Blog
{%endblock%}

{%block content%}
    <div class="mx-auto text-center">
            {% for post in post.all %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'PostDetail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                </div>
                {% endfor %}
            </div>
{%endblock%}